@foreach (var notification in notifications)
{
    <div id="Notifs" class="alert @(notification.NotificationType == NotificationType.Success ? "alert-success" : "alert-danger")">
        <p>@notification.Message</p>
    </div>
}

@code {
    private List<Notification> notifications = new();

    public void Add(string notification, NotificationType type, int delay)
    {
        _ = ShowNotification(new Notification
            {
                Message = notification,
                Delay = delay,
                NotificationType = type
            });
    }

    private async Task ShowNotification(Notification notif)
    {
        notifications.Add(notif);
        StateHasChanged();

        await Task.Delay(notif.Delay);

        notifications.Remove(notif);
        StateHasChanged();
    }
}
